<h1>Welcome to Food Truck Tracker!</h1>
<h2>Please provide some information to Create a User!</h2>

<p>* Indicates Required Field</p>

<%= form_for @user do |f| %>
  <%= f.label "First Name" %>:
  <%= f.text_field :f_name %><br />

  <%= f.label "Last Name" %>:
  <%= f.text_field :l_name %><br />

  <%= f.label "Username*" %>:
  <%= f.text_field :username %><br />

  <%= f.label "Email*" %>:
  <%= f.text_field :email %><br />

  <%= f.label "Password*" %>:
  <%= f.password_field :password %><br />

  <%= f.label "Password Confirmation*" %>:
  <%= f.password_field :password_confirmation %><br />

  <h3>Fill out a Location</h3>
  <%= f.fields_for :location do |addr| %>
    <%= addr.label :street_address %>:
    <%= addr.text_field :street_address %><br>

    <%= addr.label :city %>:
    <%= addr.text_field :city %><br>

    <%= addr.label :state %>:
    <%= addr.text_field :state %><br>

    <%= addr.label :zip %>:
    <%= addr.text_field :zip %><br>

    <%= addr.label :neighborhood %>:
    <%= addr.collection_select(:neighborhood_id, Neighborhood.all, :id, :name, include_blank: '') %><br>
  <% end %>

  <%= f.submit %>
<% end %>


<div id="map">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=10019&zoom=13&size=600x300&maptype=roadmap
&markers=color:red%7Clabel:C%7C300+West+55th+Street,New+York,NY
&key=AIzaSyBcQBWJhUdprvVfhh4CAmwY7ixtNbaQGvc" alt="" />
</div>

<img src="http://foodtruckfiesta.com/wp-content/uploads/2012/11/caribbean-cafe-truck.jpg" alt="">
