<h1><%= @truck.name %></h1>

<%= form_for @review do |f| %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <br>
  </div>

  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    <br>
  </div>

  <div>
    <%= f.label :rating %><br>
    <%= f.radio_button :rating, 1 %>
    <%= f.radio_button :rating, 2 %>
    <%= f.radio_button :rating, 3 %>
    <%= f.radio_button :rating, 4 %>
    <%= f.radio_button :rating, 5 %>
  </div>

  <%= f.submit 'Post Review' %>

<% end %>
