<!DOCTYPE html>
<html>
  <head>
    <title>FoodtruckFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <% if logged_in? %>
        <%= link_to "Sign Out", signout_path, method: :delete %>
        <%= link_to "My Profile", user_path(session[:user_id]), method: :get %>
        <%= link_to "Search Foodtrucks", trucks_path %>
      <% else %>
        <%= link_to "Sign in", signin_path %>
      <% end %>
    </nav>

    <div class="">
      <p>
        <% flash.each do |key, value| %>
          <em><%= value %></em>
        <% end %>
      </p>
    </div>

    <%= yield %>
  </body>
</html>
